[submodule "Accounts/lib/forge-std"]
	path = Accounts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Accounts/lib/openzeppelin-contracts"]
	path = Accounts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "Accounts/lib/solady"]
	path = Accounts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "Accounts/lib/account-abstraction"]
	path = Accounts/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
